.tag {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
}

.tag-container {
  max-width: 200px;
  max-height: 200px;
}


@media all and (max-width: 415px) {
  .tag-container {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 415px) {
  .tags-container {
    justify-content: space-around;
  }
}


@media all and (max-width: 415px) {
  .header-about {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 40px;
}
}

@media all and (max-width: 415px) {
  .header-live {
    margin: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 415px) {
  .header-start {
    margin: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 415px) {
  .text-live {
    margin: 5px;
    font-size: 14px;
  }
}

@media all and (max-width: 415px) {
  .ordered-text-live {
    font-size: 14px;
    padding: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }

}
.logo {
  width: 160px;
  height: 210px;
  position: absolute;
  top: -4px;
  left: 5px;

}

@media all and (max-width: 415px) {
  .logo {
    left:0px;
  }
}

/*Clips only if not in mobile mode*/
@media all and (min-width: 415px) {
  .logo {
  clip: rect(0px,180px,135px,0px);
  }
}

.header-1 {
  margin-left: 160px;
  margin-right: 160px;
}

@media all and (max-width: 415px) {
  .header-1 {
margin-left: 80px;
  }
}


/*.main-header {
  height: 90.47px;
}*/

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-left: 160px;
  margin-right: 160px;
}

.searchbar {
  margin-right: 5px;
}

.logo-container {
  position: absolute;
  top: 0px;
  width: 100px;
}

.about-image {
  margin-top: 25px;
}

.square-pictures {
  margin-left: 40px;
  margin-right: 40px;
}

@media all and (min-width: 415px) and (max-width: 1068px) {
  .ben, .brigitte, .christina, .david, .lizzet, .louis, .nathan, .sanjana, .vaughan {
     height: 60px;
     width: 60px;
  }
}

@media all and (min-width: 415px) and (max-width: 1068px) {
  .square-pictures {
     margin: 10px;
  }
}

@media all and (min-width: 415px) and (max-width: 1068px) {
  .square-picture {
     border: 2px;
     height: 60px;
  }
}

@media all and (min-width: 415px) and (max-width: 1068px) {
  .square-picture:hover {
     border-width: 6px;
  }
}

@media all and (min-width: 815px) and (max-width: 1068px) {
  .nana {
     right: 20px;
  }
}

@media all and (min-width: 595px) and (max-width: 815px) {
  .nana, .lolo {
     right: 20px;
  }
}

@media all and (min-width: 415px) and (max-width: 595px) {
  .nana, .lolo, .lizliz, .dada {
    right: 20px;
  }
}

@media all and (min-width: 415px) and (max-width: 450px) {
  .nana, .lolo, .lizliz, .dada, .chrischris {
    right: 20px;
  }
}
@media all and (max-width: 415px) {
  .nana, .lolo, .lizliz, .dada, .chrischris {
     right: 20px;
  }
}

@media all and (min-width: 415px) and (max-width: 1068px){
  .row-of-square-pictures {
     height: 100px;
  }
}

@media all and (max-width: 415px) {
  .ben, .brigitte, .christina, .david, .lizzet, .louis, .nathan, .sanjana, .vaughan {
     height: 40px;
     width: 40px;
  }
}

@media all and (max-width: 1068px) {
  .square-pictures {
     margin: 5px;
  }
}

@media all and (max-width: 415px) {
  .square-picture:hover {
     border-width: 4px;
  }
}

@media all and (max-width: 415px) {
  .square-picture {
     border: 1px;
     height: 40px;
  }
}

@media all and (max-width: 415px) {
  .row-of-square-pictures {
     height: 80px;
  }
}
