.tag {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.search-image-container {
  height: 250px;
  width: 250px;
  margin-left: 20px;
}

@media all and (max-width: 415px) {
  .search-image-container{
    height: 120px;
    width: 150px;
    margin-left: 5px;
  }
}
.search-restaurant-container {
  display: flex;
  flex-direction: column;
  
}

@media all and (max-width: 415px) {
  .search-restaurant-container{
    max-height: none;
    overflow-y: hidden;
    }
}

@media all and (max-width: 1025px) and (min-width: 416px) {
  .search-restaurant-container{
    max-height: none;
    width: 1024px
  }
}
.search-text {
  color: white;
  font-family: 'Raleway';
}

@media all and (max-width: 415px) {
  .search-text{
    margin-bottom: auto;
  }
}
.search-text-header {
  color: #E7CC8F;
  font-size: 38px;
  font-weight: 900;
  font-family: 'Lobster';
  margin-bottom: 16px;
  margin-top: 20px;
}

@media all and (max-width: 415px) {
  .search-text-header{
    font-size: 30px;
  }
}

.search-text-container {
    max-width: 350px;
    margin-left: 20px;
}

@media all and (max-width: 415px) {
  .search-text-container{
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
  }
}

@media all and (max-width: 1025px) and (min-width: 416px) {
  .search-text-container{
    margin-left: 100px;
  }
}
.search-image-info-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  min-height: 250px;
  min-width: 250px;
}

@media all and (max-width: 415px) {
  .search-image-info-container{
    margin-top: 0px;
    min-height: 200px;

  }
}
@media all and (max-width: 1025px) and (min-width: 416px) {
  .search-image-info-container{
    justify-content: center;
  }
}
.search-image-container {
  box-shadow:none;
}

.search-image-container:hover, .search-image-container:active {
  box-shadow: 0 0 10px 10px #595959;
  border-radius: 50%;
}
