@media all and (max-width: 415px) {

  .body-container{
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 1025px) {
  .body{
    width: 1024px;
    
  }
}

@media all and (max-width: 415px) {
  .logo-container{
    height: 200px;
    overflow: hidden;
  }
  .logo{
    height: 350px;
  }
}

.scroll{
  width: 414px;
  height: auto;
}
