 .about-image {
  border-radius: 50%;
  border-left: 10px solid black;
  width: 500px;
  margin-right: 0;
}

@media all and (max-width: 415px) {
  .about-image {
    margin-left: 10px;
  }
}

.test {
  border-radius: 50%;
  position: relative;
}
