.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
/*  background-image: url("../../Images/Museum.png");;*/
}

.image-label{
  font-size: 36px;
  color: white
}

@media all and (max-width: 415px) {
  .image-label{
    font-size: 18px;
    color: white;
  }
}



.tag-container {
  height: 250px;
  width: 250px;
}

.tag {
    height: 100%;
    width: 100%;
    border-radius: 50%
}
