
.logo-container {
  min-width: 275px;
}

@media all and (max-width: 415px) {
  .logo-container{
    display: flex;
    justify-content: center;
    height:225px
  }
}

.logo {
  height: 100%;
}

@media all and (max-width: 415px) {
  .logo {
    height: 350px;
  }
}

@media all and (max-width: 415px) {
  .logo-container {
    height: 225px;
    display: flex;
    justify-content: center;

