
.logo-container {
  min-width: 275px;
}

@media all and (max-width: 415px) {
  .logo-container{
    display: flex;
    justify-content: center;
    height:225px;
<<<<<<< HEAD
    overflow: hidden;
=======
>>>>>>> 485cfff1523c2d27c6fa4dcd8fa1b2557869fd71
  }
}

.logo {
  height: 100%;
}

@media all and (min-width: 415px) {
  .logo {
    width: 100%;
  }
}

@media all and (max-width: 415px) {
  .logo{
    height: 350px
  }
}
