@media all and (max-width: 415px) {
  .body-container {
    flex-direction: column;
  }
}

@media all and (max-width: 415px) {
  .Info-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  }
}

@media all and (max-width: 415px) {
  .Info-header {
    transform:translateY(-570px);
    max-width: 100%;
    margin-left: 30px;
    }
}

@media all and (max-width: 415px) {
  .Info-text {
    transform: translateY(-170px);
    margin-left: 90px;
    margin-right: 50px;
  }
}

.restaurant-container {
  display: flex;
}

@media all and (max-width: 415px) {
  .restaurant-container {
    flex-direction: column-reverse;
    max-width: 375px;
  }
}

@media all and (max-width: 415px) {
  .image-info-container {
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.7);
    margin-top: 50px;
  }
}

@media all and (min-width: 1069px) {
.image-info-container{
  margin-left: 90px;
}
}

.main-header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
}
@media all and (min-width: 768px) {
  .main-header {
    flex-direction: column;
  }
}

@media all and (max-width: 415px) {
  .logo-container {
    /*position: absolute;*/
    /*top:0px;*/
    /*transform: translateX(-150px);*/
    transform:translateX(-50px);
    height: 143px;
  }
}

@media all and (max-width: 1068px) and (min-width: 416px) {
  .restaurant-container{
    padding-left: 40px;
    width: 100%;
  }
}

@media all and (max-width: 1068px) and (min-width: 416px) {
  .result-image-container{
    height: 300px;
    width: 300px;
    margin-right: 0px;
    margin-left: 60px;
    margin-top: 130px;
  }
}

@media all and (max-width: 1068px) and (min-width:416px) {
  .body{
    width: 100%;
  }
}

@media all and (max-width: 1068px) and (min-width:416px) {
  .image-info-container{
    margin-left: 0px;
  }
}

@media all and (max-width:415px) {
  .header-1 {
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media all and (max-width:415px) {
  .header-1 a {
    font-size: 25px;
  }
}

.ProfileLogo {
  right: 12px;
}

@media all and (max-width:415px) {
  .ProfileLogo {
    right:13px;
  }
}

@media all and (min-width:416px) and (max-width: 1086px) {
  .logo-container{
    left: -32px;
  }
}

@media all and (max-width: 415px) {
.searchbar-container{
  margin-left: 0px;
  margin-right: 0px;
  }
}
